In [7]:
# EDA (eploratory data analysis for Udacity exercise on census data)
import pandas as pd

In [9]:
# read in provided CSV file
df = pd.read_csv("../data/census.csv")
df.head()

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [10]:
df.describe()

,age,fnlgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              32561 non-null  int64
 1    workclass       32561 non-null  object
 2    fnlgt           32561 non-null  int64
 3    education       32561 non-null  object
 4    education-num   32561 non-null  int64
 5    marital-status  32561 non-null  object
 6    occupation      32561 non-null  object
 7    relationship    32561 non-null  object
 8    race            32561 non-null  object
 9    sex             32561 non-null  object
 10   capital-gain    32561 non-null  int64
 11   capital-loss    32561 non-null  int64
 12   hours-per-week  32561 non-null  int64
 13   native-country  32561 non-null  object
 14   salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [12]:
# Check column names for spaces
print("Column names:")
print([f"'{col}'" for col in df.columns])

# Check for leading/trailing spaces in string columns
for col in df.select_dtypes(include=['object']):
    unique_vals = df[col].unique()[:10]  # First 10 unique values
    print(f"\n{col} sample values:")
    for val in unique_vals:
        print(f"'{val}'")  # Quotes will show spaces

Column names:
["'age'", "' workclass'", "' fnlgt'", "' education'", "' education-num'", "' marital-status'", "' occupation'", "' relationship'", "' race'", "' sex'", "' capital-gain'", "' capital-loss'", "' hours-per-week'", "' native-country'", "' salary'"]

 workclass sample values:
' State-gov'
' Self-emp-not-inc'
' Private'
' Federal-gov'
' Local-gov'
' ?'
' Self-emp-inc'
' Without-pay'
' Never-worked'

 education sample values:
' Bachelors'
' HS-grad'
' 11th'
' Masters'
' 9th'
' Some-college'
' Assoc-acdm'
' Assoc-voc'
' 7th-8th'
' Doctorate'

 marital-status sample values:
' Never-married'
' Married-civ-spouse'
' Divorced'
' Married-spouse-absent'
' Separated'
' Married-AF-spouse'
' Widowed'

 occupation sample values:
' Adm-clerical'
' Exec-managerial'
' Handlers-cleaners'
' Prof-specialty'
' Other-service'
' Sales'
' Craft-repair'
' Transport-moving'
' Farming-fishing'
' Machine-op-inspct'

 relationship sample values:
' Not-in-family'
' Husband'
' Wife'
' Own-child'
' Unmarried'
' Other-relative'

 race sample values:
' White'
' Black'
' Asian-Pac-Islander'
' Amer-Indian-Eskimo'
' Other'

 sex sample values:
' Male'
' Female'

 native-country sample values:
' United-States'
' Cuba'
' Jamaica'
' India'
' ?'
' Mexico'
' South'
' Puerto-Rico'
' Honduras'
' England'

 salary sample values:
' <=50K'
' >50K'

In [14]:
# The README mentions removing spaces with a text editor
# I try to simulate this to see the difference:
import re

def clean_spaces(text):
    return re.sub(r'\s+', '', text)

# Check a sample of the data
sample_line = open('../data/census.csv').readline()
print(f"Original: {repr(sample_line)}")
print(f"Cleaned:  {repr(clean_spaces(sample_line))}")

Original: 'age, workclass, fnlgt, education, education-num, marital-status, occupation, relationship, race, sex, capital-gain, capital-loss, hours-per-week, native-country, salary\n'
Cleaned:  'age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary'